# Ignore virtual environments
venv/
.env/
env/

# Ignore data
*.csv
*.gz

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore logs and temporary files
*.log
*.tmp

# Ignore environment-specific files
.DS_Store  # macOS
Thumbs.db  # Windows

# Ignore IDE and editor-specific files
.vscode/
.idea/
*.swp
.env

# Ignore Temp folder
/Temp/
/Temp/*
.DS_Store
Assets/Semantic-Checkers/*
Assets/Sentence-Tokenizers/*